ffmpeg-python
opencv-python==4.6.0.66
face-alignment==1.2.0
scikit-learn==0.24.2
pydub==0.25.1
pynormalize==0.1.4
soundfile
librosa==0.9.2
pysptk
pyworld==0.3.0
resemblyzer==0.1.1.dev0
tensorboardX==2.5.1
matplotlib==3.3.4